<div class="content flex flex-row p-4">
  <div class="left">
    <button
      mat-icon-button
      color="accent"
      aria-label="Toggle sidenav"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="center grow flex gap-2 items-center justify-center">
    <button mat-icon-button aria-label="Seek to start" (click)="seekToStart()">
      <mat-icon>first_page</mat-icon>
    </button>
    <button mat-icon-button aria-label="Fast rewind" (click)="seekBackward()">
      <mat-icon>fast_rewind</mat-icon>
    </button>
    <button mat-icon-button aria-label="Play" (click)="playPause()">
      <mat-icon>{{ (isPlaying$ | async) ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>
    <button mat-icon-button aria-label="Fast forward" (click)="seekForward()">
      <mat-icon>fast_forward</mat-icon>
    </button>
    <button mat-icon-button aria-label="Seek to end" (click)="seekToEnd()">
      <mat-icon>last_page</mat-icon>
    </button>
  </div>
  <div class="right flex flex-row gap-4"></div>
</div>
