<div class="content p-4 flex flex-col gap-4 overflow-y-scroll">
  <mat-accordion [hideToggle]="true">
    <mat-expansion-panel [expanded]="(examType$ | async) === 'zang'">
      <mat-expansion-panel-header>
        <mat-panel-title> Zang </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a mat-button routerLink="/pitch-trainer/examen-zang">
          Examen oefening
        </a>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="(examType$ | async) === 'leesoefening'">
      <mat-expansion-panel-header>
        <mat-panel-title> Lezen </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a mat-button routerLink="/pitch-trainer/examen-leesoefening-1">
          Examen Leesoefening 1
        </a>
      </div>
      <div>
        <a mat-button routerLink="/pitch-trainer/examen-leesoefening-2">
          Examen Leesoefening 2
        </a>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="(examType$ | async) === 'maatslag'">
      <mat-expansion-panel-header>
        <mat-panel-title> Maatslag </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <a mat-button routerLink="/pitch-trainer/examen-maatslag-1">
          Examen Maatslag 1
        </a>
      </div>
      <div>
        <a mat-button routerLink="/pitch-trainer/examen-maatslag-2">
          Examen Maatslag 2
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <app-pitch-trainer-config></app-pitch-trainer-config>

  <div class="text-gray-500 text-xs">
    <p>
      Kan fouten bevatten!<br />
      Enkel gebruiken ter hulp om te oefenen.
    </p>
    <p>door Toon Vanvreckem</p>
  </div>
</div>
