{
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": false,
  "printWidth": 80,
  "useTabs": false,
  "trailingComma": "all",
  "proseWrap": "preserve",
  "tabWidth": 2,
  "quoteProps": "consistent"
}