<ng-container *ngIf="(pitch$ | async) as pitch">
  <div>
    Pitch:
    <div>frequency: {{ pitch.frequency}}</div>
    <div>noteIndex: {{ pitch.noteIndex}}</div>
    <div>noteName: {{ pitch.noteName}}</div>
    <div>octave: {{ pitch.octave}}</div>
    <div>cents: {{ pitch.cents}}</div>
  </div>
</ng-container>

<ng-container *ngIf="(extrema$ | async) as extrema">
  <div>
    Extrema:
    {{ extrema.minNote.noteIndex }} {{ extrema.minNote.frequency }}
    {{ extrema.maxNote.noteIndex }} {{ extrema.maxNote.frequency }}
  </div>
</ng-container>

<!-- <div>
  playerReady: {{ (playerReady$ | async)}}
</div>
<div>
  rendered: {{ (rendered$ | async)}}
</div>
<div>
  score: {{ (score$ | async)}}
</div>
<div>
  soundFontLoadStatus: {{ (soundFontLoadStatus$ | async)}}
</div>
<div>
  tickCache: {{ (tickCache$ | async)}}
</div> -->

<ng-container *ngIf="(tickCache$ | async) as tickCache">
  <div *ngFor="let masterBarTickLookup of tickCache.masterBars">
    <!-- Masterbar {{ masterBarTickLookup.masterBar.index }} -->
    <div *ngFor="let beatTickLookup of masterBarBeats(masterBarTickLookup)">
      <!-- beat:
      {{ beatTickLookup.start }}
      {{ beatTickLookup.end}}
      ({{ beatTickLookup.duration }}) -->
      <div *ngFor="let beatTickLookupItem of beatTickLookup.highlightedBeats">
        <!-- tick: {{ beatTickLookupItem.beat.notes.length }} notes -->
        <div *ngFor="let note of beatTickLookupItem.beat.notes">
          note: {{ noteIndexFrequencies[note.realValue] }} Hz
        </div>
      </div>
    </div>
  </div>
</ng-container>
