<div class="content p-4 flex flex-col gap-4">
  <mat-accordion [multi]="true" [hideToggle]="true">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Zang </mat-panel-title>
      </mat-expansion-panel-header>
      Examen oefening
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Lezen </mat-panel-title>
      </mat-expansion-panel-header>
      Examen oefening
    </mat-expansion-panel>
  </mat-accordion>

  <mat-card>
    <mat-card-content>
      <div class="flex flex-col gap-2">
        Meezingen
        <mat-slide-toggle
          [ngModel]="pitchDetectionEnabled$ | async"
          (change)="togglePitchDetection($event.checked)"
        >
        </mat-slide-toggle>

        Volume
        <mat-slider [min]="1" [max]="100">
          <input
            matSliderThumb
            [value]="masterVolume$ | async"
            (valueChange)="setMasterVolume($event)"
          />
        </mat-slider>

        Metronoom
        <mat-slider [min]="0" [max]="100">
          <input
            matSliderThumb
            [value]="metronomeVolume$ | async"
            (valueChange)="setMetronomeVolume($event)"
          />
        </mat-slider>

        Afspeelsnelheid
        <span *ngIf="playbackTempo$ | async as playbackTempo">
          ({{ playbackTempo }} bpm)
        </span>
        <mat-slider [min]="1" [max]="200">
          <input
            matSliderThumb
            [value]="playbackSpeed$ | async"
            (valueChange)="setPlaybackSpeed($event)"
          />
        </mat-slider>

        <mat-form-field>
          <mat-label>Octaaf</mat-label>
          <mat-select
            [value]="transpose$ | async"
            required
            (selectionChange)="setTransposition($event.value)"
          >
            <mat-option [value]="+12">Hoger</mat-option>
            <mat-option [value]="0">Standaard</mat-option>
            <mat-option [value]="-12">Lager</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
